<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Here I Go A Testing Again</title>
</head>
<body>
<img src="https://i.kym-cdn.com/entries/icons/original/000/037/360/coverpower.jpg" height="250">


<h2>User Creation</h2>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">

    <input th:field="*{username}" placeholder="Username" /><br>
    <input th:field="*{email}" placeholder="Email" /><br>
    <input th:field="*{password}" placeholder="Password" /><br>
    <input th:field="*{avatar_path}" placeholder="AvatarPath"/><br>
    <input th:field="*{latitude}" placeholder="Latitude" /><br>
    <input th:field="*{longitude}" placeholder="Longitude" /><br>

<button>Submit this shit</button>

</form>

<div th:each="user : ${allUsers}">
    <p><span th:text="${user.username}" /> - <span th:text="${user.email}" /> -
        <span th:text="${user.password}" /> - <span th:text="${user.avatar_path}" /> -
        <span th:text="${user.latitude}" /> - <span th:text="${user.longitude}" />; Interests are:
        <span th:each="interest, iter : ${user.interests}" th:value="${interest.id}" th:text="!${iter.last} ? ${interest.name} + ' - ' : ${interest.name}" /></p>
</div>

<h2>Business Creation</h2>

<form th:action="@{/business/sign-up}" method="POST" th:object="${business}">

    <input th:field="*{name}" placeholder="Name" /><br>
    <textarea rows="5" cols="100" th:field="*{description}" placeholder="Description of the business" /><br>
    <input th:field="*{latitude}" placeholder="Latitude" /><br>
    <input th:field="*{longitude}" placeholder="Longitude" /><br>

    <button>Submit this shit</button>

</form>

<div th:each="business : ${allBusinesses}">
    <p><span th:text="${business.name}" /> -
        <span th:text="${business.latitude}" /> - <span th:text="${business.longitude}" />;
    Interests are: <span th:each="interest, iter : ${business.interests}" th:value="${interest.id}" th:text="!${iter.last} ? ${interest.name} + ' - ' : ${interest.name}" /></p>
    <p th:text="${business.description}"></p>
</div>

<h2>Messaging</h2>

<form th:action="@{/message}" method="POST" th:object="${message}">
<!--<form th:action="@{https://request-inspector.glitch.me/}" method="POST" th:object="${message}">-->
    <select name="sender">
        <option th:each="user, iterstat : ${allUsers}" th:value="${user.id}" th:text="${user.username}" />
    </select>

    <select name="receiver">
        <option th:each="user, iterstat : ${allUsers}" th:value="${user.id}"><span th:text="${user.username}" /></option>
    </select>

    <textarea rows="5" cols="100" th:field="*{body}" placeholder="Description of the business" /><br>

    <button>Submit this shit</button>

</form>

<div th:each="message : ${allMessages}">
    <p><span th:text="${message.sender.username}" /> -
        <span th:text="${message.receiver.username}" /> - @ <span th:text="${message.sent}" /> -
        <span th:text="${message.status.toString().toLowerCase()}" /> ;</p>
    <p th:text="${message.body}"></p>
</div>

<h2>Category Management</h2>

<form th:action="@{/category-create}" method="POST" th:object="${category}">
    <input th:field="*{name}" placeholder="Name" /><br>
    <button>Submit this shit</button>
</form>

<div th:each="category : ${allCategories}">
    <p><span th:text="${category.id}" /> -
        <span th:text="${category.name}" /> ;</p>
</div>

<h2>Interest Management</h2>

<form th:action="@{/interest-create}" method="POST" th:object="${interest}">
<!--    <form th:action="@{https://request-inspector.glitch.me/}" method="POST" th:object="${interest}">-->
    <input th:field="*{name}" placeholder="Name" />

    <select th:field="*{categories}" multiple>
        <option th:each="category, iterstat : ${allCategories}" th:value="${category.id}" th:text="${category.name}" />
    </select>
    <button>Submit this shit</button>
</form>

<div th:each="interest : ${allInterests}">
    <p><span th:text="${interest.id}" /> -
        <span th:text="${interest.name}" /> -
        <span th:each="category, iter : ${interest.categories}" th:text="!${iter.last} ? ${category.name} + ' - ' : ${category.name}"></span></p>
</div>


<h2>Add interests to users</h2>

<form th:action="@{/user-interest}" method="POST">

    <select name="user">
        <option th:each="user, iterstat : ${allUsers}" th:value="${user.id}" th:text="${user.username}" />
    </select>

    <select name="interest" multiple>
        <option th:each="interest, iterstat : ${allInterests}" th:value="${interest.id}" th:text="${interest.name}" />
    </select>

    <button>Add interest to user.</button>

</form>

<h2>Add interests to businesses</h2>

<form th:action="@{/business-interest}" method="POST">

    <select name="business">
        <option th:each="business, iterstat : ${allBusinesses}" th:value="${business.id}" th:text="${business.name}" />
    </select>

    <select name="interest" multiple>
        <option th:each="interest, iterstat : ${allInterests}" th:value="${interest.id}" th:text="${interest.name}" />
    </select>

    <button>Add interest to Business.</button>

</form>

</body>
</html>