/* These are the global variables, use them to easily change */
:root {
  --black: black;
  --main: rgb(29, 233, 29);
  --accent: rgb(72, 97, 72);
  --text: white;
}

/* HEADER */
.header {
  background: var(--accent);
  color: white;
  padding: 3rem;
  display: flex;
  align-items: center;
  /* margin-bottom: 3rem; */
}

.header a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

/* Landing component */
.land {
  text-align: center;
  background: var(--black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* This was my best effort, use the svg you made */
#logo {
  width: 60%;
  height: 200px;
  margin: 0 auto;
  background: var(--main);
  font-size: 1000%;
  border-radius: 20px;
}

.text {
  color: white;
}

.accent {
  color: var(--accent)
}

/* Ending of landing */
button {
  background: var(--main);
  padding: 20px 50px;
  border-radius: 50px;
  max-width: 60%;
  margin: 0 auto;
  color: white;
  font-size: 150%;
  font-weight: 300;
}

/* Register component */
.register {
  background: var(--black);
  height: 100vh;
  padding-top: 3rem;
}

.register form {
  margin: 0 auto;
  width: 50%;
  padding: 3rem;
  border: 2px solid var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}

.register form h3 {
  color: var(--main);
}

.register form input[type="text"], 
.register form input[type="password"],
.register form input[type="select"],
.register form input[type="date"] {
  width: 80%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--main);
  margin-right: 2rem;
  color: white;
}

.reg-selects {
  display: flex;
  /* justify-content: space-between; */
  width: 80%;
}

.reg-selects label {
  margin-right: 2rem;
}

.reg-selects select {
  width: 80%;
  background: transparent;
  color: var(--main);
}

.register form input[type="date"] {
  color: var(--main);
}

.register label {
  color: var(--main);
}

#status {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#status div {
  display: flex;
}



details {
  margin: 20px;
  padding: 5px;
  border: 2px solid black;
  width: 50%;
}

/* Login info */

.login {
  background: black;
  color: var(--main);
  padding: 2rem;
}

.login form h3 {
  text-align: center;
}

.login form  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-btn {
  /* margin: 0 auto; */
  background: black;
  border: 2px solid var(--main);
  color: var(--main);
  max-width: 200px;
  padding: 1rem;
  transition: 1s ease;
}

.sub-btn:hover {
  background: var(--main);
  color: black;
  border: 2px solid black; 
}

/* Field for preferences that appear */

.options {
  width: 90%;
  margin: 0 auto;
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Preferences */
.pref-click {
  width: 40%;
  height: 50px;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid black;
  background: var(--main);
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  width: 40%;
  height: 50px;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid var(--main);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black  !important;
  color: var(--main);
}

.final-form {
  border-bottom: var(--main) 3px solid;
  height: 40vh;
}

.preferences-body {
  min-height: 80vh;
}

/* Profile */
.profile {
  width: 90%;
  margin: 0 auto;
}

.profile div {
  border: 2px solid black;
}

.profile .intro-card {
  display: flex;
  
}

.profile .intro-card div {
  flex: 1;
}

.profile div img {
  width: 200px;
  height: 200px;
}